<div>
    <input type="text" data-key="name" value="{{name}}"/>
    <div class="flexrow">
        <div>maximum movement per action</div>
        <input type="text" data-key="maxMove" data-dtype="Number" value="{{maxMove}}"/>
    </div>
    <div class="flexrow">
        <div>maximum actions</div>
        <input type="text" value="{{maxAction}}"/>
    </div>
    <div class="flexrow">
        <div>maximum velocity</div>
        <div></div>
        <div>{{maxVel}}</div>
        <div>m/s</div>
    </div>
    <div>This turn:</div>
    <div class="flexrow">
        <div>hori. movement</div>
        <input type="text" value="0"/>
    </div>
    <div class="flexrow">
        <div>vert. movement</div>
        <input type="text" value="0"/>
    </div>
    <div>Velocity</div>
        <div class="flexrow">
        <div>hori. velocity</div>
        <div></div>
        <div>0</div>
        <div>m/s</div>
    </div>
    <div class="flexrow">
        <div>vert. velocity</div>
        <div></div>
        <div>0</div>
        <div>m/s</div>
    </div>
</div>
