<div>
    <div class="flexrow">
        <div>horizontal movement</div>
        <input type="text" name="mod" value="0"/>
    </div>
    <div class="flexrow">
        <div>vertical movement</div>
        <input type="text" name="mod" value="0"/>
    </div>
</div>
